<div id="form-login">
    @if (TempData["AuthError"] != null) { 
        <div class="alert alert-danger">
            <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
            @TempData["AuthError"]   
        </div>
    }
    @using (Html.BeginForm("SignIn", "User"))
{
            
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-1">
                            <span class="glyphicon glyphicon-user icon-login-form"></span>
                        </div>
                        <div class="col-lg-11">
                            @Html.TextBox("UserOrEmail", "", new { @class = "form-control", @placeholder = "Nome de usuário ou e-mail" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-1">
                            <span class="glyphicon glyphicon-lock icon-login-form"></span>
                        </div>
                        <div class="col-lg-11">
                            <div class="input-group">
                                @Html.Password("Pass", "", new { @class = "form-control", @placeholder = "Senha" })
                                <div class="input-group-btn">
                                    <input type="submit" value="Entrar" class="btn btn-info btn-oval-right" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="form-group links-form-goup"> 
                <div id="link">
                    @Html.ActionLink("Cadastrar-se", "Create", "User")
                </div>
                <div id="link">
                    @Html.ActionLink("Esqueceu sua senha?", "UpdatePass", "User", new { @class = "link-forgot-pass" })
                </div>
                    @*<div class="btn-group" id="btn-drop">
              <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                Cadastrar <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li>@Html.ActionLink("Casal","Create","User")</li>
                <li>@Html.ActionLink("Fornecedor","Create","Provider")</li>
              </ul>
            </div>*@
                </div>
           

        }
    </div>