@using EnlaceNoivas.Helpers;
@{
    var current_user = LoginHelper.getCurrentUser(User.Identity.Name);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bootstrap.css")
    @Styles.Render("~/layout.css")
    @Styles.Render("~/jqueryui-AC.css")
    @Styles.Render("~/" + ViewBag.Controller + "/" + ViewBag.Action + ".css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>
    <div id="content">
        <div id="nav-top" class="row">
            <div class="col-md-2">
                <div id="logo">
                    <a href="@Url.Action("Index","Home")"><img src="@Url.Content("~/Content/Images/Site/enlace-logo.png")" /></a>
                </div>
            </div>
            <div class="col-md-4" id="menu-links">
                <div id="links">
                <a href="#">SITE DOS NOIVOS</a>
                <a href="#">GUIA DE FORNECEDORES</a>
                <a href="#">DICAS DE CASAMENTO</a>
                </div>
            </div>
            <div class="col-md-1">
                <div id="icons">
                    <a href="http://pt-br.facebook.com/guiaenlace"><img title="Facebook" src="@Url.Content("~/Content/Images/Site/Icons/face-icon.png")" /></a>
                    <a href="http://twitter.com/guiaenlace"><img title="Twiter" src="@Url.Content("~/Content/Images/Site/Icons/twitter-icon.png")" /></a>
                    <a href="http://instagram.com/guiaenlace"><img title="Instagran" src="@Url.Content("~/Content/Images/Site/Icons/pint-icon.png")" /></a>
                    <a href="http://pinterest.com/guiaenlace"><img title="Pinterest" src="@Url.Content("~/Content/Images/Site/Icons/print-icon.png")" /></a>
                </div>
            </div>
            <div class="col-md-3" id="search">
                @using (Html.BeginForm("SearchProvider", "Search"))
                {
                    <div id="form-search" class="input-group">
                        @Html.TextBox("searched", "", new { @class = "form-control", @id = "search-field" })
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                        </div>
                    </div>
                }

            </div>
            <div id="right-menu" class="col-md-2">
                @if (current_user != null)
                {
                    <div class="btn-group">
                        <a class="btn btn-link" data-toggle="dropdown" id="link">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Sair", "SignOut", "User")</li>
                        </ul>
                    </div>
                    @Html.ActionLink(current_user.Username, "Profile", "User", current_user.ID, new { @class = "btn btn-link", @id = "link" })
                }
                else
                {
                    <a data-toggle="modal" href="#myModal" class="btn btn-link" id="link">Entrar</a>
                }
            </div>
          
        </div>
        @RenderBody()
        <div id="space"></div>
    </div>
    <div class="col-lg-12" id="bottom-site"></div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/jqueryui.js")
    @Scripts.Render("~/bootstrap.js")
    @Scripts.Render("~/layout.js")

    @RenderSection("scripts", required: false)
    <script>
       @if (TempData["AuthError"] != null)
        {
            <text>
        $(document).ready(function () {
            $("#myModal").modal('show');
        });
        </text>
        }
    </script>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
               
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <div class="logo-enlace-login-form">
                        <img src="@Url.Content("~/Content/Images/Site/new-logo-enlace.png")" /> 
                    </div> 
                    @Html.Partial("_FormLogin")
                    
                </div>
            </div>
        </div>
    </div>

</body>
</html>
